body {
	padding-bottom: 8px;
}
#curtain {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding-top: 50%;
	z-index: 999999;
	background: white;

	color: black;
	text-align: center;
}
/*小诗*/
.poem {
	padding: 12px 24px;
	margin-top: 36px;
	margin-bottom: 24px;

	border-top-left-radius: 32px;
	border-bottom-right-radius: 32px;
	box-shadow: 0 0 6px #ccc;
	display: inline-block;

	text-shadow: 0 0 4px #fff;
	font-style: italic;
}
a.list-group-item {
	position: relative;
}

a.list-group-item:after {
	position: absolute;
	content: "\e080";
	float: right;
	top: 50%;
	right: 2px;
	height: 100%;
	margin-top: -8px;
	display: inline-block;

	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
